sudo: required
language: python
services:
- docker
before_install:
- sudo apt -y install ldap-utils python-flake8
- git clone https://github.com/sstephenson/bats.git && sudo bats/install.sh /usr/local
install:
- sudo pip install -r requirements.txt
- sudo pip install retrying
script:
- flake8 obol
- bats tests/test
